/* src/App.css */
.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.task {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  margin: 20px auto;
  width: 80%;
}

.meme img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 20px;
}

.meme {
  margin-top: 20px;
}
